{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="box__wrap">
        <div class="form__box">
            <form method="post">
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Профиль
                    </h2>
                    <a href="{% url 'logout' %}" class="form__reg form__sign-out">
                        Выход
                    </a>
                </div>
                <label class="form__input-wrap">
                    <input style="display: inline-block;"  type="text" id="f_name" name="first_name" value="{{ object.first_name }}" class="form__input" placeholder="Введите новое имя" required>
                </label>
                <label class="form__input-wrap">
                    <input id="l_name" name="last_name"  value="{{ object.last_name }}" type="text" class="form__input" placeholder="Введите новую фамилию" required>
                </label>
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
                <button class="form__btn" type="submit">
                    Сохранить изменения
                </button>
                <a href="{% url 'update_password' %}" class="sms__timer change__filed">
                    Сменить пароль
                </a>
                <a href="{% url 'get_phone_for_update' %}" class="sms__timer change__filed">
                    Сменить номер
                </a>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
